body {
    background-color: #3c3b3e;
}
header {
    color: #FFF;
    form {
        text-align: center;
    }
}
#bookShowCase {
    margin: 15vh auto;
    .book-thumb {
        // width: 25%;
        display: inline-block;
        list-style: none;
        // padding: 10px;
        a {
            // padding: 0;
            img {
                padding: 15px;
                // background-color: blue;

            }
            .caption {
                // background-color: rgb(207, 201, 209);
                text-align: center;
            }
        }
    }
}
#results {
    #result-Search {
        margin-top: 20px;
        form {
            margin: 0 auto;
            width: 30vw;
            .btn-search-top {
                height: 40px;
                border: 1px solid #FFF;
                color: #FFF;
                // font-size: 2em;
            }
        }
    }

    .card {
        margin: 10px 0;
        img {
            border-radius: 45px !important;
            width: 224px;
            height: 278px;
        }
        a {
            color: #FFF;
        }
    }

}
