<section class="container" id="specificBook">
    <header class="page-header">
        <h2>{{bookName}}</h2>
        <h4>{{author[0] | noHTML}}</h4>
        <p>{{publisher}}</p>
    </header>
    <article class="bookThing row">
        <div class="col-md-6">
            <img ng-src="{{bookIMG}}" class="center-block img-responsive" alt="{{bookName}}" />
        </div>
        <div class="col-md-6">
            <div class="" id="generalInfo">
                <div class="genDescript">
                    <!-- <p class="small"><strong>{{categories | noHTML}}</strong></p> -->
                    <ul class="list-inline">
                        <li ng-repeat="cat in categories"><strong>{{cat}}</strong></li>
                    </ul>
                    <p class="">{{description | noHTML}}</p>
                </div>
            </div>

            <div class="" id="specOfBook">
                <a class="showMorebtn" ng-click="showSpecData()" ng-if="!specificBookData">{{Specifics}}</a>
                <a class="showMorebtn" ng-click="removeSpecData()" ng-if="specificBookData">{{Specifics}}</a>
                <div class="specificBookData" ng-show="specificBookData">
                    <p><strong>ISBN: </strong> {{ISBN}}</p>
                    <p class="small">{{bookType}}, {{pages}} pages</p>
                    <p class="small">{{pubDate | date: 'mediumDate'}}</p>
                    <p class="small"><a ng-href="https://en.wikipedia.org/wiki/{{author[0]}}" target="_blank">About the Author</a></p>
                    <div class="" id="Review">
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="row">
        <div class="col-md-6">

        </div>
    </article>
</section>
