<header class="container">
    <h1 class="text-center">BookWorm</h1>
    <form class="form-inline" ng-submit="bookSearch()">
        <input type="text" class="form-control" ng-model="bookTitle">
        <a class="btn btn-default" href="#/results">Search</a>
    </form>
</header>
<section class="container-fluid" id="bookShowCase">
    <h1 class="text-center">Featured Books <small>{{featuredBook}}</small></h1>
    <ul class="book-thumb" ng-repeat="book in books" id="bookList">
        <a href="#" class="">
            <li class="">
                <img ng-src="{{book.volumeInfo.imageLinks.thumbnail}}" class="img-responsive center-block" alt="{{book.volumeInfo.title}}">
            </li>
        </a>
    </ul>
</section>
